{% load zinnia_tags i18n btc_tags %}
{% get_tags as entry_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="description" content="{% block meta-description %}Midwest cooking, dinning and food with a twist.{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}Recipes, Midwest, food {{ entry_tags|join:", "}}{% endblock %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{{ ZINNIA_MEDIA_URL }}img/favicon.ico" />
    <link rel="home" href="{% url zinnia_entry_archive_index %}" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ZINNIA_MEDIA_URL }}css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ ZINNIA_MEDIA_URL }}css/print.css" />
    <script src="{{ ZINNIA_MEDIA_URL }}js/modernizr.custom.16936.js"></script>
    <!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ ZINNIA_MEDIA_URL }}css/ie.css" />
    <![endif]-->
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <title>Better Than Cheddar - {% block title %}{% endblock %}</title>
  </head>
  <body id="zinnia">
	<div class="container">
		<header class="logo">
			<hgroup>
			<h1>
			<a href="{% url zinnia_entry_archive_index %}" title="Better Than Cheddar" rel="home">
			Better Than Cheddar
			</a>
			</h1>
			<h2>
			Midwest approved
			</h2>
			</hgroup>
		</header>
	<aside>
		<nav class="categories">
			<section class="cats">
			  <h3>{% trans "Categories" %}</h3>

				{% get_categories %}
			</section>
			<form method="get" id="searchform" action="{% url zinnia_entry_search %}">
			<label for="pattern"><h3>Search</h3></label>
			<input type="text" value="{% trans "Keywords..." %}" name="pattern" id="searchbox" onfocus="this.value=''" />
			<input type="submit" class="submitbutton" value="OK" />
			</form>
			<section class="authors">
			  <h3>{% trans "Authors" %}</h3>
			  {% get_authors %}
			</section>
		</nav>

		<section class="twitter">
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 30000,
			  width: 280,
			  height: 200,
			  theme: {
			    shell: {
			      background: 'transparent',
			      color: '#595302'
			    },
			    tweets: {
			      background: 'transparent',
			      color: '#333',
			      links: '#A64005'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    behavior: 'all'
			  }
			}).render().setUser('Better_Cheddar').start();
			</script>
			</section>

		</aside>
		<div id="content" class="hfeed">
			{% block content %}
			<h3>The content block need to be overrided!</h3>
			{% endblock %}
		</div>
		
		{% block sidebar %}
		{% endblock %}
		
		
		<footer class="clear">
		
		</footer>
	</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26378199-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
  </body>
</html>


