*, body {
margin: 0;
padding: 0;
}


body {
line-height: 1.6;
font-size: 100%;
margin: 66px 0 24px 0;
background: #fffdf9;
color: #555;
color: rgba(0,0,0,0.7);
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;

font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", "Hoefler Text", Georgia, Times, serif;	}

a {
text-decoration: none;
color: #8787c1;
font-weight: bold;
background-color: rgba(255,246,224,0.0);	
-o-transition-property: color;
-webkit-transition-property: color;
-moz-transition-property: color;
transition-property: color;
-o-transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
transition-duration: 0.2s;	
}
a:hover,
a:focus {
color: #333;
}

a:visited {
background: none;
font-weight: normal;
}

h1,h2,h3,h4, nav, cite, footer, .caption, .date, .social p, .org, .details, .previous a, .next a {
font-family:	"p22-underground-1",
"p22-underground-2",
"P22UndergroundPro-Book", 
"P22 Underground Pro Book",  
"P22JohnstonUnderground-Regular",
"P22JohnstonUnderground",
"P22 Underground",
"Gill Sans", 
"Gill Sans MT",
GillSansMT,
GillSans,
Helvetica, 
Arial,
sans-serif;	
}

header {
border-bottom: 2px dotted #ccc;
min-height: 180px;
}

h1 {
font-size: 2.25em;
font-weight: 300;
line-height: 1.2;
letter-spacing: -1px;
color: #aaa;
margin: 0 25% 0 0 ;
padding: 0 0 1em 0;
-webkit-font-smoothing: subpixel-antialiased;
}

h1 a {
font-weight: 300;
}

h1 strong {
color: #e38549;
}

h2 {
font-size: 1.125em;
font-weight: 500;
line-height: 1.2;
margin: 0 0 1em 0;
color: #e38549;
text-transform: uppercase;
letter-spacing: 2px;
}

h2 a {
font-weight: 600;
}

article h2 {
margin: 0 0 1.5em 0;
}

.archives h2 {
margin: 0 0 0.5em 0;
}
.archives h4+h2 {
border-top: 2px dotted #ccc;
margin: 1em 0 0.5em 0;
padding: 1em 0 0 0;
}	
.org {
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
font-size: 0.93em;
}

h3 {
font-weight: bold;
font-size: 0.875em;
line-height: 1.2;
margin: 0 0 0.5em 0;
text-transform: uppercase;
letter-spacing: 1px;
color: #e38549;
}

p+h3 {
margin: 2em 0 0.25em 0;
}

h3.date {
margin: 0 0 0 1.5em 0;
font-size: 0.81em;
}

h4 {
font-size: 0.875em;
font-weight: bold;
}

p, ul, ol, .lines, object, input, code {
margin: 0 0 0.875em 0;
}

p, ul, ol, cite, table, code, .fusionentire {
font-size: 0.875em;
}

section p,
section ul{
font-size: 0.8125em;
line-height: 1.5;
}

img {
border: 0;
vertical-align: middle;
}

blockquote p {
font-size: 1em;
/*line-height: 2;*/
text-indent: -0.4em;
margin: 0 0 0.5em 0;
padding: 0 0 0 2em;
font-style: italic;
border-left: 1px solid #ccc;
color: #777;
}

blockquote p:before {
content: '“';
font-size: ;
}
blockquote p:after {
content: '”';
}	

cite {
display: block;
text-align: right;
font-style: normal;
}

pre {
background: #f8f8f8;
overflow: auto;
padding: 0.75em;
margin: 0 0 1em 0;
border-left: 1px solid #ccc;	
}

code {
font-family: Consolata, monospace;
background: #f8f8f8;
}

fieldset {
border: 0;
}

article ul,
article ol {
padding: 0 0 0 1.2em;
}

article li {
margin: 0 0 0.2em 0;
}

nav ul {
list-style-type: none;
font-size: 0.875em;
line-height: 1;
}

nav a {
text-transform: uppercase;
letter-spacing: 2px;
display: block;
padding: 0.35em 0.3em 0.2em 0.3em;
line-height: 1;
}

nav a, nav a:visited {
font-weight: 900;
}
