*, body {
margin: 0;
padding: 0;
}


body {
line-height: 1.6;
font-size: 100%;
margin: 8px 0 24px 0;
background: #fffdf9;
background: transparent url("/media/Local_Texture__Three_by_One_by_Beyond_Oddities.jpg") top left;
color: #555;
color: rgba(0,0,0,0.7);
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", "Hoefler Text", Georgia, Times, serif;	}

.container {
margin: 30px 8%;
position: relative;
width: 920px;
background: transparent url("/media/pg_bkg.png") top left repeat-y;
padding: 10px 40px;
float: left;
}

a {
text-decoration: none;
color: #A64005;
font-weight: bold;
background-color: rgba(255,246,224,0.0);	
-o-transition-property: color;
-webkit-transition-property: color;
-moz-transition-property: color;
transition-property: color;
-o-transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
transition-duration: 0.2s;	
}
a:hover,
a:focus {
color: #333;
}

a:visited {
background: none;
font-weight: normal;
}

h1,h2,h3,h4, nav, cite, footer, .caption, .date, .social p, .org, .details, .previous a, .next a {
font-family:	"p22-underground-1",
"p22-underground-2",
"P22UndergroundPro-Book", 
"P22 Underground Pro Book",  
"P22JohnstonUnderground-Regular",
"P22JohnstonUnderground",
"P22 Underground",
"Gill Sans", 
"Gill Sans MT",
GillSansMT,
GillSans,
Helvetica, 
Arial,
sans-serif;	
}

header {
border-bottom: 2px dotted #ccc;
height: auto;
}


h1 {
font-size: 2.25em;
font-weight: 300;
line-height: 1.2;
letter-spacing: -1px;
color: #A64005;
margin: 0 8px 0 0 ;
padding: 0 0 8px 0;
-webkit-font-smoothing: subpixel-antialiased;
}

h1 a {
font-weight: 300;
}


h2 {
font-size: 1.125em;
font-weight: 500;
line-height: 1.2;
margin: 0 0 1em 0;
color: #400101;
text-transform: uppercase;
letter-spacing: 2px;
}

h2 a {
font-weight: 600;
}

article h2 {
margin: 0 0 1.5em 0;
}

	
.org {
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1px;
font-size: 0.93em;
}

h3 {
font-weight: bold;
font-size: 0.875em;
line-height: 1.2;
margin: 0 0 0.5em 0;
text-transform: uppercase;
letter-spacing: 1px;
color: #595302;
}

p+h3 {
margin: 2em 0 0.25em 0;
}

h3.date {
margin: 0 0 0 1.5em 0;
font-size: 0.81em;
}

h4 {
font-size: 0.875em;
font-weight: bold;
}

p, ul, ol, .lines, object, input, code {
margin: 0 0 0.875em 0;
}

p, ul, ol, cite, table, code, .fusionentire {
font-size: 0.875em;
}

section p,
section ul{
font-size: 0.8125em;
line-height: 1.5;
}

img {
border: 0;
vertical-align: middle;
}

blockquote p {
font-size: 1em;
/*line-height: 2;*/
text-indent: -0.4em;
margin: 0 0 0.5em 0;
padding: 0 0 0 2em;
font-style: italic;
border-left: 1px solid #ccc;
color: #777;
}

blockquote p:before {
content: '“';
font-size: ;
}
blockquote p:after {
content: '”';
}	

cite {
display: block;
text-align: right;
font-style: normal;
}

pre {
background: #f8f8f8;
overflow: auto;
padding: 0.75em;
margin: 0 0 1em 0;
border-left: 1px solid #ccc;	
}

code {
font-family: Consolata, monospace;
background: #f8f8f8;
}

fieldset {
border: 0;
}

article ul,
article ol {
padding: 0 0 0 1.2em;
}

article li {
margin: 0 0 0.2em 0;
}

.logo {
width: 870px;
padding: 20px 0;
}

.logo h1 {
width: 200px;
display:inline-block;;
}

.logo h1 a{
margin-top: 8px;
padding-top: 0px;
text-indent: -9999px;
display: block;
height: 126px;
font-size: 1px;
width: 200px;
background: transparent url("/media/btc_logo.png") top left no-repeat;
}

.logo h2{
margin-top: 0px;
padding-top: 0px;
width: 700px;
display:inline-block;
margin-left: 200px;
margin-top: -60px;
position:absolute;
display: block;
height: auto;
font-size: 60px;
color: rgba(89, 83, 2, 0.17);
-webkit-transform: rotate(10deg); 
-moz-transform: rotate(10deg);
}

aside {
width: 300px;
float: right;
}

aside .twitter {
width: 280px;
position: relative;
left: -10px;
}

nav {
padding-top: 20px;
width: 300px;
}

nav ul {
list-style-type: none;
font-size: 0.875em;
line-height: 1;
}

nav a {
text-transform: uppercase;
letter-spacing: 2px;
display: block;
padding: 0.35em 0.3em 0.2em 0.3em;
line-height: 1;
}

nav a, nav a:visited {
font-weight: 900;
}

nav section, nav form {
margin-bottom: 40px;
}

#searchform {
width: 16%;
}
#searchbox {
width: auto;
}

#content {
float: left;
width: 560px;
padding: 0 0 20px;
}

#content:after {
content:".";
clear: both;

}
/*------Content--------*/
.hentry{
border-bottom: 2px dotted #CCCCCC;
padding: 20px 0 10px;
}

.entry-header {
height: auto;
min-height: 50px;
margin-bottom: 8px;
border: none;
}

.entry-title {
margin: 0;
padding:0;
}

.entry-image {
border: 1px solid #595302;
float: left;
padding: 3px;
margin: 0 8px 8px 0;
background: #400101;
-moz-box-shadow: 4px 4px 4px #ccc;
-webkit-box-shadow: 4px 4px 4px #ccc;
box-shadow: 4px 4px 4px #ccc;
}

.entry-image img {
border: 1px solid #333;
}

.entry-widgets div {
float: left;
width: 235px;
margin: 8px 20px;
height: 100px;
}

#comments {
margin-top: 20px;
clear: both;
}

#comment-list li {
clear: both;
margin: 8px 0;
float: left;
list-style-type: none;
width: 500px;
}

#comment-list .span-2 {
float: left;
margin-right: 5px;
}

.comment-body cite {
font-size: 1em;
text-align: left;

}

.commentForm {
margin-top: 20px;
clear: both;
}